@import url('navbar.css');
@import url('home.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 2000px;
}

p {
    margin: 0px 0px 7px;
    padding: 0;
    color: #7c7d80;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #f6eada;
    --primary-color: #6f4c3e;
    --secondary-color: #eb7506;
    --app-padding: 0px 15%;
    --font-color: #2d1308;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a.primary-btn {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 15px 40px;
    border-radius: 100px 0px 100px 0px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    transition: .4s ease;
}

a.primary-btn i {
    margin-left: 10px;
    color: #eb7506;
}

a.primary-btn:hover {
    background-color: var(--secondary-color);
}

a.primary-btn:hover i {
    color: #fff;
}

h1.section-header {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: var(--font-color);
    margin-bottom: 20px;
}

h1.section-header::after {
    content: "";
    display: block;
    height: 4px;
    background-color: var(--secondary-color);
    margin-left: auto;
}

.cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.cart-wrapper i {
    color: #fff;
}

i {
    color: var(--primary-color);
    font-size: 18px;
}